body {
    background: #C6ECED;
}

header {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

header .logo{
    width: 186px;
    margin: auto;
    margin-bottom: 50px;
}

header .formulario{
    width: 900px;
    margin: auto;
}

#pesquisa {
    width: 80%;
    height: 45px;
    left: 98px;
    top: 115px;
    border: none;
    padding-left: 3em;

    background: #FFFFFF;
    border-radius: 10px;
}

#btn_pesquisar{
    width: 15%;
    height: 46px;
    left: 859px;
    top: 114px;
    font-weight: bold;
    color: #FFCB05;
    margin-left: 3%;

    background: #3763AD;
    border-radius: 10px;
}

main {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

main div {
    justify-content: center;
}

main div div img{
    width: 122px;
    height: 122px;
}

main div h2{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

main div h3{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.42);
}

.pokemon {
    text-align: center;
    width: 181px;
    height: 253px;
    justify-content: center;
}

.pokemon_planta{
    background: #48D0B0;
    border-radius: 25px;
}

.pokemon_fogo{
    background: #F66C6D;
    border-radius: 25px;
}

.moldura {
    text-align: center;
    width: 151px;
    height: 151px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    background: rgba(255, 255, 255, 0.4);
}
